@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
  }
  canvas {
    position: absolute;
  }
  .button {
    position: absolute;
    padding: 1.5%;
    font-size: 30px;
    background-color: #6f00fc;
    color: white;
    margin-top: 500px;
    margin-left: 0px;
    width: max-content;
    border-radius: 20px;
    cursor: pointer;
    visibility: hidden;
    animation: cssAnimation 0s ease-in 5s forwards;
  }
  @keyframes cssAnimation {
  to   {
    visibility: visible;
  }
  }
  .button:hover{
    background-color:#121212 ;
    color: #ffffff;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
  a:hover{
    background-color:#121212 ;
    color: #ffffff;
    text-decoration: none;
  }
